<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console" />
      <AppenderRef ref="AsyncRollingFile" />
    </Root>
  </Loggers>
  
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %p [%t] %logger{36} - %msg%n"/>
    </Console>
	<!-- File name="File" fileName="C:/logs/quoteupdater/log/quoteupdater.log">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] %c{1.} - %msg%n" />
    </File -->
	<RollingFile name="RollingFile" fileName="C:/Developments/Eclipse Projects/logs/standaloneapp/log/standaloneapp.log" 
	filePattern="C:/Developments/Eclipse Projects/logs/standaloneapp/logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] %c{1.} - %msg%n" />
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
     
	<Async name="AsyncConsole">
        <AppenderRef ref="Console"/>
    </Async>
	<!-- Async name="AsyncFile">
        <AppenderRef ref="File"/>
    </Async -->
	<Async name="AsyncRollingFile">
        <AppenderRef ref="RollingFile"/>
    </Async>
  </Appenders>
</Configuration>
